/* global.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0;
}

/* Responsive Styles */
@media (min-width: 640px) {
  .container {
    padding: 2rem;
  }

  /* Additional responsive styles for tablets and larger screens */
}

@media (min-width: 768px) {
  /* Styles for screens with a minimum width of 768px */
  /* For tablets and larger screens */

  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  /* Styles for screens with a minimum width of 1024px */
  /* For desktop screens */

  .container {
    max-width: 1024px;
  }
}
