/* global.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
  
}
body {
  /* @apply leading-[normal] m-0; */
  font-family: 'Poppins', sans-serif
  
}

/* hide scrollbar for chrome, safari and opera */
body::-webkit-scrollbar{
  display:none;
}

/* hide scrollbar for IE, Edge and Firefox */
body{
  -ms-overflow-style: none; /*IE and EDge*/
  scrollbar-width: none; /*firefox*/
}

/* Responsive Styles */
@media (min-width: 640px) {
  .container {
    padding: 2rem;
  }

  /* Additional responsive styles for tablets and larger screens */
}

@media (min-width: 768px) {
  /* Styles for screens with a minimum width of 768px */
  /* For tablets and larger screens */

  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  /* Styles for screens with a minimum width of 1024px */
  /* For desktop screens */

  .container {
    max-width: 1024px;
  }
}

.hero {
  background: 
    linear-gradient(to right,
      rgba(0,0,0,0.9),
      rgba(0,0,0,.7) 40%,
      rgba(0,0,0,.4) 60%,
      rgba(0,0,0,0) 100%),
    url('/images/heroImg.png'); 
  height: 100vh;
  display: flex;
  align-items: left;
  justify-content: left;
}

.content-overlay {
  margin-top: 75px;
  margin-left: 50px;
  color: #fff;
  text-align: left;
  padding: 20px;
}

/* For tablets and smaller devices */
@media (max-width: 768px) {
  .content-overlay {
    margin-top: 50px;
    margin-left: 30px;
    font-size: 16px;
    padding: 15px;
  }
}

/* For mobile devices */
@media (max-width: 480px) {
  .content-overlay {
    margin-top: 25px;
    margin-left: 15px;
    padding: 10px;
    font-size: 12px; /* you can adjust this value as per your need */
  }
}

.react-scroll-to-bottom--css-ikyem-1n7m0yu {
  overflow-y: auto;
  flex-grow: 1;
  flex-shrink: 1;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox, make scrollbar transparent by default */
}

/* For WebKit browsers like Chrome, Safari, and newer versions of Edge */
.react-scroll-to-bottom--css-ikyem-1n7m0yu::-webkit-scrollbar {
  width: 8px;
  background-color: transparent; /* Make scrollbar background transparent */
}

.react-scroll-to-bottom--css-ikyem-1n7m0yu::-webkit-scrollbar-thumb {
  background-color: transparent; /* Make scrollbar thumb transparent */
  border-radius: 4px;
}

/* Hover and scroll behavior */
.react-scroll-to-bottom--css-ikyem-1n7m0yu:hover,
.react-scroll-to-bottom--css-ikyem-1n7m0yu:active,
.react-scroll-to-bottom--css-ikyem-1n7m0yu:focus {
  scrollbar-color: #888 #f1f1f1; /* For Firefox, show scrollbar on hover/scroll */
}

.react-scroll-to-bottom--css-ikyem-1n7m0yu:hover::-webkit-scrollbar-thumb,
.react-scroll-to-bottom--css-ikyem-1n7m0yu:active::-webkit-scrollbar-thumb,
.react-scroll-to-bottom--css-ikyem-1n7m0yu:focus::-webkit-scrollbar-thumb {
  background-color: #888; /* For WebKit, show scrollbar thumb on hover/scroll */
}

.react-scroll-to-bottom--css-ikyem-1n7m0yu:hover::-webkit-scrollbar-thumb:hover,
.react-scroll-to-bottom--css-ikyem-1n7m0yu:active::-webkit-scrollbar-thumb:hover,
.react-scroll-to-bottom--css-ikyem-1n7m0yu:focus::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darken the thumb on hover over the thumb */
}

/* Hide scrollbar for IE and Edge */
/* .react-scroll-to-bottom--css-ikyem-1n7m0yu {
  -ms-overflow-style: none; 
} */
/* Hide scrollbar for WebKit (Chrome, Safari) */
/* .react-scroll-to-bottom--css-ikyem-1n7m0yu::-webkit-scrollbar {
  display: none; 
} */


textarea:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 768px) {
  .history {
    display: none; 
  }
}
